registry=https://registry.npmjs.org/
fetch-retries=10
fetch-retry-mintimeout=30000
fetch-retry-maxtimeout=300000
prefer-offline=true
fund=false
audit=false
loglevel=verbose
progress=false
legacy-peer-deps=true
network-timeout=300000
http-timeout=300000
https-timeout=300000
timeout=300000
cache-min=9999999
ca=null
strict-ssl=false 